#user{
    height: 250px;
    background: no-repeat url('../common/jeanjean.png') 100%;
    font-size: 2.5em;
    text-align: center;
}

#posts{
    font-size: 2em;
}

.title{
    color: black;
    background:#f57900;
    height: 50px;
}

.body{
    background: #eeeeec;
    color: black;
}

li{
    list-style-type: none;
}

/* .addPost, .upPost, .return, .delete{
    background-color: grey;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    margin: 20px; 
} */


.newPosts{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title2{
    text-align: center;
}

.crud{
    display: flex;
    justify-content: center;
}

.userLog{
    display: flex;
    justify-content: center;
}

.userLog form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #f57900;
}

.userLog form label, .userLog form label ~ input{
    font-size: calc(1vw + 1vh + 0.5vmin);
    margin: 5px;
}

.userLog form label ~ input{
    background-color: #eeeeec;
}

.log{
    display: flex;
    justify-content: end;
}